.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

body{
    background-color: #1e1b1b0f !important;
    overflow-x: hidden;
}

.toast-top-right{
    margin-top: 0px;

}

.toast-success{
    background-color: #1c7430 !important;
    color: white !important;
}

.toast-error{
    background-color: red !important;
    color: white !important;
}

.toast-warning{
    background-color: #fdd52c !important;
    color: black !important;
}

a{
    text-decoration: none !important;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
}

.error {
    color: red;
    padding-top: 2px;
}

